*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}



body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:
linear-gradient(135deg,#020024,#001d3d,#003566);

color:white;

}




.background{


position:absolute;

width:500px;

height:500px;

background:#00ffff;

border-radius:50%;

filter:blur(150px);

animation:move 5s infinite alternate;


}




@keyframes move{


from{

transform:translate(-250px,-150px);

}


to{

transform:translate(250px,150px);

}


}





.container{


position:relative;


width:430px;


padding:35px;


border-radius:30px;


background:rgba(255,255,255,.12);


backdrop-filter:blur(20px);


box-shadow:
0 0 40px #00ffff55;


text-align:center;


animation:show 1s;


}




@keyframes show{


from{

opacity:0;

transform:scale(.8);

}


to{

opacity:1;

transform:scale(1);

}


}





h1{


font-size:40px;

color:#00ffff;

text-shadow:0 0 20px cyan;


}



.subtitle{


margin:10px;

color:#ccc;


}





.clock{


width:260px;

height:260px;

margin:25px auto;


border-radius:50%;


padding:12px;


background:
linear-gradient(45deg,#00ffff,#0066ff);


}




#display{


height:100%;


border-radius:50%;


background:#00111f;


display:flex;


justify-content:center;


align-items:center;


font-size:45px;


font-weight:bold;


color:#00ffcc;


}




.timer-box input{


width:60px;

padding:10px;

margin:5px;


border-radius:10px;

border:none;


}





button{


padding:12px 20px;


margin:8px;


border:none;


border-radius:25px;


cursor:pointer;


background:#00ffff;


font-weight:bold;


transition:.3s;


}



button:hover{


transform:scale(1.1);


box-shadow:0 0 20px cyan;


}





.buttons{


margin-top:20px;


}





ul{


list-style:none;


max-height:130px;


overflow:auto;


}




li{


background:#ffffff22;


padding:10px;


margin:8px;


border-radius:15px;


animation:slide .3s;


}




@keyframes slide{


from{

opacity:0;

transform:translateX(-20px);

}


to{

opacity:1;

}


}




.clear{


background:#ff4757;

color:white;


}



.keys{


margin-top:20px;

color:#aaa;

font-size:14px;

}