*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial,sans-serif;

}


html{

scroll-behavior:smooth;

}



#navbar{

position:fixed;

top:0;

width:100%;


display:flex;

justify-content:space-between;

align-items:center;


padding:20px 50px;


z-index:1000;


transition:.4s;


}



#navbar.active{

background:#020617;

box-shadow:0 5px 20px #0005;

}



.logo{

font-size:28px;

font-weight:bold;

color:white;

}



.nav-links{

display:flex;

gap:25px;

list-style:none;

}


.nav-links a{

color:white;

text-decoration:none;

}




.menu-btn{

display:none;

color:white;

font-size:30px;

cursor:pointer;

}






#home{


height:100vh;


background:

linear-gradient(
135deg,
#020617,
#2563eb,
#7c3aed
);


display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


color:white;

text-align:center;


}



#home h1{

font-size:55px;

}



#home p{

font-size:20px;

margin:20px;

}





button{

padding:14px 35px;

border:none;

border-radius:30px;

background:#38bdf8;

cursor:pointer;

font-weight:bold;

}




section{

min-height:100vh;

padding:120px 50px;

text-align:center;


}




.stats,
.cards{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

}




.card{


background:#f1f5f9;


padding:35px;


width:250px;


border-radius:20px;


transition:.3s;


cursor:pointer;


}



.card:hover{


transform:translateY(-15px);


box-shadow:0 10px 25px #999;


}





#service-info{


margin-top:40px;


padding:30px;


background:#e0f2fe;


border-radius:20px;


}





input,
textarea{


width:300px;

padding:15px;

margin:10px;


border-radius:10px;


}





textarea{

height:120px;

}




footer{


background:#020617;

color:white;

padding:30px;

text-align:center;


}





@media(max-width:768px){


.nav-links{

display:none;

position:absolute;

right:0;

top:70px;

background:#020617;

flex-direction:column;

padding:20px;

}



.nav-links.show{

display:flex;

}



.menu-btn{

display:block;

}



.cards,
.stats{

flex-direction:column;

align-items:center;

}



#home h1{

font-size:35px;

}


}