*{

box-sizing:border-box;
font-family:'Segoe UI',sans-serif;

}



body{

margin:0;
height:100vh;


background:
linear-gradient(
135deg,
#141e30,
#243b55
);


display:flex;
justify-content:center;
align-items:center;


}



.container{

width:90%;
max-width:900px;

animation:appear 1s;


}



@keyframes appear{


from{

opacity:0;
transform:translateY(40px);

}


to{

opacity:1;

}


}



header{

text-align:center;
color:white;

}



header h1{

font-size:45px;

}




.dashboard{


background:white;

padding:25px;

border-radius:25px;


box-shadow:
0 20px 50px #0008;


}




.input-area{


display:grid;


grid-template-columns:
2fr 1fr 1fr 1fr auto;


gap:10px;


}




input,select,button{


padding:14px;

border-radius:12px;

border:1px solid #ddd;


}




button{


background:#667eea;

color:white;

cursor:pointer;

transition:.3s;


}



button:hover{

transform:scale(1.08);

}



.controls{

display:flex;

gap:10px;

margin-top:20px;


}




.progress{

margin-top:20px;


}




.bar{


height:12px;

background:#ddd;

border-radius:20px;

overflow:hidden;


}




#progressBar{


height:100%;

width:0%;


background:#00c853;


transition:.5s;


}




li{


list-style:none;

background:#f4f7ff;


margin:12px 0;


padding:18px;


border-radius:18px;


display:flex;

justify-content:space-between;


animation:slide .4s;


}




@keyframes slide{


from{

opacity:0;

transform:translateX(-30px);

}


to{

opacity:1;

}


}





.completed{


text-decoration:line-through;

opacity:.5;


}





.task-info{


display:flex;

flex-direction:column;

gap:6px;


}




.actions button{

margin-left:5px;

}



.delete{

background:#ff4757;

}



.edit{

background:#ffa502;

}




@media(max-width:700px){


.input-area{

grid-template-columns:1fr;

}



.controls{

flex-direction:column;

}


}